

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
    width: 100%;
	}

h1, h2, nav, footer {
    text-align: center;
}

nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
    background-color: WhiteSmoke;
}

h2 {
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
}

h3 {
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1vw;
    text-align: right;
    margin-right: 60px;
}

h4 {
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1vw;
    text-align: right;
    margin-right: 200px;
}

h5 {
    font-size: 1vw;
    font-weight: bold;
}

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}

.row {
    padding: 1vw;
}


#collection {
    display: flex;
}

.img-full {
    margin: 5px;
    border: 1px solid black;
    width: 500px;
}

.img-full:hover {
    width: 650px;
}

.img-flex {
    margin: 5px;
    border: 1px solid black;
    width: 300px;
}

.archivalAnnotation {
    color: gray;
    font-variant: small-caps;
    text-align: right;
    margin-right: 50px;
}

.extraMargin {
    margin-top: 39.5px;
}

.transcriptionCmt {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    border: 1px solid black;
    padding: 1vw;
}

.transcriptionStmt {
    text-align: center; 
}

.imgInstruction {
    text-align: left;
    font-style: italic;
    color: Gray;
    font-size: 90%;
    padding-left: 1vw;
}

.imgText {
    text-align: left;
    padding-top: 1vw;
}
